.app {
    height: 94%;
    width: 100%;

    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 4fr;
}

@media (max-width: 1850px) {
    .app {
        grid-template-columns: 1fr 3fr;
    }
}

@media (max-width: 1400px) {
    .app {
        grid-template-columns: 30% 70%;
    }
}

@media (max-width: 1200px) {
    .app {
        grid-template-columns: 40% 60%;
    }
}
