header {
    background: #1d2638;
    padding: 0.5em;
    box-sizing: border-box;
    height: 10%;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.menu-button {
    background: inherit;
    border: none;
    cursor: pointer;

    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

.menu-button--clicked {
    background: inherit;
    border: none;
    cursor: pointer;

    transform: rotate(90deg);
    transition: transform 0.5s ease;
}
