main {
    height: 100%;
    width: 100%;
}
.note-menu {
    height: 10%;
    width: 100%;
    display: flex;
}

.note-menu-buttons {
    width: 30%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.save-button,
.delete-button {
    width: 40%;
    height: 50%;
    margin: 0 0.7em;
    color: white;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}

.save-button {
    background: green;
    transition: background 0.3s;
}

.save-button:hover {
    background: #00a000;
    transition: background 0.3s;
}

.delete-button {
    background: #e40000;
    transition: background 0.3s;
}
.delete-button:hover {
    background: red;
    transition: background 0.3s;
}
.note-background {
    height: 90%;
    background: #dfdfdf;

    display: flex;
    justify-content: center;
    align-items: center;
}

.note-container {
    height: 70%;
    width: 70%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
}

.note-name,
.note-text {
    width: 100%;
}

.note-name {
    height: 60%;
    font-size: 24px;
    padding: 0 1em;
    box-sizing: border-box;
    font-weight: 600;
}
.note-text {
    height: 100%;
    resize: none;
    font-size: 18px;
    padding: 1em;
    box-sizing: border-box;
}
