html,
body,
#root {
    margin: 0;
    /* pt-sans-regular - latin */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    height: 100%;
    width: 100%;
}
* {
    font-family: inherit;
}
code {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
